*.pyc

# SAM CLI Ignore .aws-sam directory
receipt_lambda/.aws-sam/*

# Ignore the virtual environment
receipt_lambda/.venv/*

# Ignore docs directory
docs/*

#Ignore pycache
app/.pytest_cache/*
app/routes/.pytest_cache/*